<div class="container">
    <div class="add_search">
        <div class="addLaptop" >
            <h2 id="addLaptop">Add laptop</h2>
            <form [formGroup]="addForm" (ngSubmit)="addLaptop()">
                <div class="input">
                    <input formControlName="modelName" type="text" required />
                    <label>Laptop model </label>
                </div>
                <div class="input">
                    <input formControlName="price" type="number" required />
                    <label>Laptop price </label>
                </div>
                <div class="save">
                    <button [disabled]="!addForm.valid" type="submit" id="save">Save</button>
                </div>    
                    
            </form>
        </div>

        <div class="quick_search" >
        <h2 id="quick_search">Quick search</h2>

            <input [formControl]="searchField" required>
            <label>Search laptop</label>
            <br />

            <div class="search_result">
            <div *ngFor="let laptop of searchResults$ | async" class="print_search_result">
                    <span>Model: {{ laptop.modelName }}</span>
                    <br>
                    <span>Price: {{ laptop.price }} </span> 
                </div>  
            </div>
            
        </div>
    </div>

    <br>

    <div class="laptop">
        <h2 id="laptop">Laptops</h2>
        <div class="table">
            <form [formGroup]="editForm">
                <div *ngFor="let laptop of laptops" class="row" [ngClass]="{selected: editingLaptop?.id == laptop.id}">
                    <div class="cell">
                        <span class="m">Model: </span>
                        <span *ngIf="editingLaptop?.id != laptop.id"> {{ laptop.modelName }} </span>
                        <input *ngIf="editingLaptop?.id == laptop.id" formControlName="modelName" placeholder="Model name" >
                        <br>
                        <span class="p">Price: </span>
                        <span *ngIf="editingLaptop?.id != laptop.id">{{ laptop.price }}₾</span>
                        <input *ngIf="editingLaptop?.id == laptop.id" formControlName="price" placeholder="Price" type="number">
                    </div>
                    <div class="buttons">
                        <button (click)="editLaptop(laptop)" *ngIf="editingLaptop?.id != laptop.id">Edit</button>
                        <button *ngIf="editingLaptop?.id == laptop.id" [disabled]="!editForm.valid" 
                            (click)="updateLaptop()">Save</button>
                        <br>
                        <button *ngIf="editingLaptop?.id != laptop.id" (click)="deleteLaptop(laptop.id)">Delete</button>
                        <button *ngIf="editingLaptop?.id == laptop.id" (click)="cancelEditLaptop()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>    
</div>

