@media (max-width: 340px) {
    .add_search{
        border-radius: 20px;
        box-shadow: 16px 14px 20px #0000008c;
        width: 90%;
        margin: 20px auto 20px auto;
        background-color: rgb(24, 209, 194);
        padding: 5px;
    }

    #addLaptop{
        width: 40%;
        margin: 20px auto 20px auto;
        padding-top: 10px;
        font-size: 15px;
    }

    #quick_search{
        width: 150%;
        margin: 20px -30px;
        padding-top: 10px;
        font-size: 15px;
    }

    .quick_search{
        width: 25%;
        margin: 0 auto 0 auto;
    }

    .quick_search input{
        border: none;
        background-color: rgb(24, 209, 194);
        border-bottom: 2px solid gray;
        outline: none;
        font-size: 16px;
        transition: 0.3s;
        margin-top: 18px;
        margin-left: -45px;
        width: 235%;
    }

    .quick_search label{
        position: absolute;
        top: 340px;
        left: 25%;
        pointer-events: none;
        font-size: 16px;
        transition: 0.3s;
    }

    .search_result {
        border-radius: 10px;
        margin: 4px -90%;
        padding: 10px;
        width: 150px;
        height: 90px;
        overflow-x: hidden;
        text-align: justify;
    }

    .laptop{
        width: 90%;
        margin:  auto;
        display: grid;
        box-shadow: 16px 14px 20px #0000008c;
        border-radius: 20px;
        background-color: rgb(24, 209, 194);
    }

    .buttons button{
        background-color: green;
        font-size: 15px;
        padding: 0 20px 0 20px;
        margin: 1px;
        border-radius: 20px;
    }

    .cell input{
        border: none;
        background-color: rgb(24, 209, 194);
        border-bottom: 2px solid gray;
        outline: none;
        font-size: 12px;
        transition: 0.3s;
    }

    .table{
        border-radius: 10px;
        margin: 10px 11px;
        padding: 4px;
        width: 95%;
        font-size: 15px;
       
    }

    .input {
        padding: 20px 10px 20px 10px;
        width: 50%;
        margin: auto 15%;
        display: grid;
        position: relative;
    }

    .input input{
        border: none;
        background-color: rgb(24, 209, 194);
        border-bottom: 2px solid gray;
        outline: none;
        font-size: 12px;
        transition: 0.3s;
    }

    .save {
        padding: 10px;
        width: 25%;
        margin: auto;
    }
}

@media (min-width: 340px) and (max-width: 500px) {
    .add_search{
        border-radius: 20px;
        box-shadow: 16px 14px 20px #0000008c;
        width: 90%;
        margin: 20px auto 20px auto;
        background-color: rgb(24, 209, 194);
        padding: 5px;
    }

    #addLaptop{
        width: 40%;
        margin: 20px auto 20px auto;
        padding-top: 10px;
    }

    #quick_search{
        width: 150%;
        margin: 20px -30px;
        padding-top: 10px;
        font-size: 20px;
    }

    .quick_search{
        width: 25%;
        margin: 0 auto 0 auto;
    }

    .quick_search input{
        border: none;
        background-color: rgb(24, 209, 194);
        border-bottom: 2px solid gray;
        outline: none;
        font-size: 16px;
        transition: 0.3s;
        margin-top: 18px;
        margin-left: -45px;
    }

    .quick_search label{
        position: absolute;
        top: 365px;
        left: 30%;
        pointer-events: none;
        font-size: 16px;
        transition: 0.3s;
    }

    .search_result {
        border-radius: 10px;
        margin: 4px -60%;
        padding: 10px;
        width: 200px;
        height: 90px;
        overflow-x: hidden;
        text-align: justify;
    }

    .laptop{
        width: 90%;
        margin:  auto;
        display: grid;
        box-shadow: 16px 14px 20px #0000008c;
        border-radius: 20px;
        background-color: rgb(24, 209, 194);
    }

    .buttons button{
        background-color: green;
        font-size: 15px;
        padding: 0 20px 0 20px;
        margin: 1px;
        border-radius: 20px;
    }

    .cell input{
        border: none;
        background-color: rgb(24, 209, 194);
        border-bottom: 2px solid gray;
        outline: none;
        font-size: 12px;
        transition: 0.3s;
    }

    .table{
        border-radius: 10px;
        margin: 10px 11px;
        padding: 4px;
        width: 95%;
        font-size: 15px;
       
    }

    .input {
        padding: 20px 10px 20px 10px;
        width: 50%;
        margin: auto;
        display: grid;
        position: relative;
    }

    .input input{
        border: none;
        background-color: rgb(24, 209, 194);
        border-bottom: 2px solid gray;
        outline: none;
        font-size: 16px;
        transition: 0.3s;
    }

    .save {
        padding: 10px;
        width: 25%;
        margin: auto;
    }
}

@media (min-width: 500px) and (max-width: 1200px) {
    .add_search{
        border-radius: 20px;
        box-shadow: 16px 14px 20px #0000008c;
        width: 90%;
        margin: 20px auto 20px auto;
        background-color: rgb(24, 209, 194);
        padding: 5px;
    }

    #addLaptop{
        width: 40%;
        margin: 20px 16% 20px auto;
        padding-top: 10px;
    }

    #quick_search{
        width: 150%;
        margin: 20px 20%;
        padding-top: 10px;
    }

    .quick_search{
        width: 25%;
        margin: 0 auto 0 auto;
    }

    .quick_search input{
        border: none;
        width: 200%;
        background-color: rgb(24, 209, 194);
        border-bottom: 2px solid gray;
        outline: none;
        font-size: 16px;
        transition: 0.3s;
        margin-top: 18px;
        margin-left: -50%;
    }

    .quick_search label{
        position: absolute;
        top: 365px;
        left: 30%;
        pointer-events: none;
        font-size: 16px;
        transition: 0.3s;
    }

    .search_result {
        border-radius: 10px;
        margin: 4px -50%;
        padding: 10px;
        width: 200%;
        height: 90px;
        overflow-x: hidden;
        text-align: justify;
    }

    .laptop{
        width: 90%;
        margin:  auto;
        display: grid;
        box-shadow: 16px 14px 20px #0000008c;
        border-radius: 20px;
        background-color: rgb(24, 209, 194);
    }

    .buttons button{
        background-color: green;
        font-size: 15px;
        padding: 0 20px 0 20px;
        margin: 1px;
        border-radius: 20px;
    }

    .cell input{
        border: none;
        background-color: rgb(24, 209, 194);
        border-bottom: 2px solid gray;
        outline: none;
        font-size: 16px;
        transition: 0.3s;
    }

    .table{
        border-radius: 10px;
        margin: 10px 11px;
        padding: 4px;
        width: 95%;
        font-size: 20px;
       
    }

    .input {
        padding: 20px 10px 20px 10px;
        width: 50%;
        margin: auto;
        display: grid;
        position: relative;
    }

    .input input{
        border: none;
        background-color: rgb(24, 209, 194);
        border-bottom: 2px solid gray;
        outline: none;
        font-size: 16px;
        transition: 0.3s;
    }

    .save {
        padding: 10px;
        width: 25%;
        margin: auto 43%;
    }
}

@media (min-width: 1200px) {
    .add_search{
        border-radius: 20px;
        box-shadow: 16px 14px 20px #0000008c;
        width: 45%;
        margin: 20px auto 20px auto;
        background-color: rgb(24, 209, 194);
        position: relative;
        display: flex;
    }

    #addLaptop{
        width: 60%;
        margin: 20px auto 20px auto;
        padding-top: 10px;
    }

    #quick_search{
        width: 100%;
        margin: 20px auto 20px auto;
        padding-top: 10px;
    }

    .quick_search{
        width: 25%;
        margin: 0 auto 0 auto;
    }

    .quick_search input{
        border: none;
        background-color: rgb(24, 209, 194);
        border-bottom: 2px solid gray;
        outline: none;
        font-size: 16px;
        transition: 0.3s;
        margin-top: 18px;
    }

    .quick_search label{
        position: absolute;
        bottom: 55%;
        left: 56%;
        pointer-events: none;
        font-size: 16px;
        transition: 0.3s;
    }

    .search_result {
        border-radius: 10px;
        margin: 4px 4px;
        padding: 4px;
        width: 200px;
        height: 90px;
        overflow-x: hidden;
        text-align: justify;
    }

    .laptop{
        width: 45%;
        margin:  auto;
        display: grid;
        border-radius: 20px;
        box-shadow: 16px 14px 20px #0000008c;
        background-color: rgb(24, 209, 194);
    }

    .buttons button{
        background-color: green;
        font-size: 20px;
        padding: 0 20px 0 20px;
        margin: 1px;
        border-radius: 20px;
    }

    .cell input{
        border: none;
        background-color: rgb(24, 209, 194);
        border-bottom: 2px solid gray;
        outline: none;
        font-size: 16px;
        transition: 0.3s;
    }

    .table{
        border-radius: 10px;
        margin: 10px 11px;
        padding: 4px;
        width: 95%;
        font-size: 20px;
       
    }

    .input {
        padding: 20px 10px 20px 10px;
        width: 50%;
        margin: auto;
        display: grid;
        position: relative;
    }

    .input input{
        border: none;
        background-color: rgb(24, 209, 194);
        border-bottom: 2px solid gray;
        outline: none;
        font-size: 16px;
        transition: 0.3s;
    }

    .save {
        padding: 10px;
        width: 25%;
        margin: auto;
    }
}

.buttons button:hover{
    cursor: pointer;
    transform: scale(1.25);
    color: crimson;
}

#laptop{
    margin: auto;
    padding: 10px;
}

.row{
    display: flex;
    margin-right: auto;
}

.buttons{
    margin-left: auto;
}

.cell{
    padding: 10px;
}

/* Search */

.quick_search input:focus{
    border-color: crimson;
}


.quick_search input:focus ~ label,
.quick_search input:valid ~ label{
    transform: translateY(-23px);
    color: crimson;
}

/* Search */

/* //////////////////////////////////////
//////////////////////////////////////////
///////////////////////////////////////// */

/* Input Model Name and Price */

.input input:focus{
    border-color: crimson;
}

.input label{
    position: absolute;
    bottom: 40%;
    left: 10%;
    pointer-events: none;
    font-size: 16px;
    transition: 0.3s;
}

.input input:focus ~ label,
.input input:valid ~ label{
    transform: translateY(-23px);
    color: crimson;
}
/* Input Model Name and Price */

/* ////////////////////////////////////////////////
//////////////////////////////////////////////////
/////////////////////////////////////////////////
//////////////////////////////////////////////// */

/* Save button */

#save {
    background-color: green;
    font-size: 20px;
    padding: 0 20px 0 20px;
    border-radius: 20px;
}

#save:hover{
    cursor: pointer;
    transform: scale(1.25);
    color: crimson;
}

/* Save button */
/* ///////////////////////////////////////////////////
//////////////////////////////////////////////////////
/////////////////////////////////////////////////////
///////////////////////////////////////////////////// */
/* Search Result Scrool */


.search_result::-webkit-scrollbar {
    width: 20px;
}

.search_result::-webkit-scrollbar-track {
    background-color: transparent;
}

.search_result::-webkit-scrollbar-thumb {
    background-color: #6e919e;
}
.search_result::-webkit-scrollbar-thumb {
    background-color: #074055;
    border-radius: 20px;
}

.search_result::-webkit-scrollbar-thumb {
    background-color: #5932e6;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.search_result::-webkit-scrollbar-thumb:hover {
    background-color: #1800ee;
}
.search_result:hover{
    background-color: rgb(20, 172, 159);
    color: crimson;
}
.print_search_result{
    padding: 5px;
}
/* Search Result Scrool */
/* //////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
///////////////////////////////////////////////////// */
